@media screen and (min-device-width: 200px) and (max-device-width: 400px){
    #main_nav{display: none; margin-left: 5px; margin-top: 0px;}
    .navbarImage{width: 236px;}
    .compare, .choice, .cart{margin-top: 23px; margin-left: 15px;}
    .compare p, .cart p, .choice p{display: none;}
/*home delivary*/
    .fire p{margin-left: -65px;}    
    .fire> div{width: 100%;border-bottom:1px solid #dee2e6}.fire img{width:40px!important}

/*footer section*/
    .footer-p{font-size: 13px;}
}

@media screen and (min-device-width: 400px) and (max-device-width: 600px){
    #main_nav{display: none; margin-left: 5px;}
    .navbarImage{width: 400px;}
    .compare, .choice, .cart{margin-top: 23px; margin-left: 15px;}
    .compare p, .cart p, .choice p{display: none;}
/*home delivary*/
    .fire p{margin-left: -65px;}    
    .fire> div{width: 100%;border-bottom:1px solid #dee2e6}.fire img{width:40px!important}
}